h3 {
    background-color: rgb(35, 43, 39, 0.5);
    font-weight: bolder;
    color: rgb(19, 224, 122, 0.8);
    border-radius: 5px;
}

#productheader {
    font-weight: bolder;
    font-size: larger;
}

img {
    object-fit: cover;
}

ion-card {
    align-items: center;
}