<ion-header>
  <ion-toolbar color="primary">
  <ion-item text-center color="transparent">
    <ion-buttons slot='start'>
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>  
    <div id="centertitle">
          <ion-title id="theTitle" >Product</ion-title>
    </div>
    <ion-buttons slot="end" >
      <ion-button (click)="onNewProduct()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
   <ion-row >
     <ion-col size="12" size-sm="8" offset-sm= "2">
       <div *ngIf="isLoading">
          
          <ion-spinner color="primary" ></ion-spinner>
          <p text-center *ngIf="!isLoading && loadedOffers.length <=0">
            No Product offers found! Please create one first</p>
          <ion-button routerLink="/board/offers/new-product">Offer New Product</ion-button>
       </div >
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col ize-sm="6" offset-sm="3">
       <ion-item>
        <ion-label slot="start">
          <ion-header id="productheader">My Products</ion-header>
        </ion-label>
       </ion-item>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size-sm="6" offset-sm="3">

      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let product of loadedProducts" style="width: 150px; height: 200px; border: 2px solid #f8f8f8">
            <ion-card (click)="onNewPostListing()">
               <!-- <ion-img style="pointer-events:none" src="https://via.placeholder.com/150"></ion-img> -->
               <img id="touched" [src]="product.productimage_set[0].image"/>
               <ion-card-content>
                             <ion-label>{{ product.title }}</ion-label>
                             <ion-label >
                              <h3 >{{ product.price |currency }}</h3>
                          </ion-label>
               </ion-card-content>
            </ion-card>
        </ion-slide>
      </ion-slides>
     </ion-col>
   </ion-row>
   <ion-row>
      <ion-col ize-sm="6" offset-sm="3">
        <ion-item>
        <ion-label slot="start">
          <ion-header id="productheader">Current listings: {{userPostCount}}</ion-header>
        </ion-label>
        </ion-item>
      </ion-col>
   </ion-row>
  <ion-row>
    <ion-col ize-sm="6" offset-sm="3">
      <ion-virtual-scroll [items]="loadedUserPosts" approxItemHeight="70px">
        <ion-item
        *virtualItem="let post"
         detail>
          <ion-thumbnail slot="start">
            <ion-img  [src]="post.product[0].productimage_set[0].image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ post.product[0].title }}</h2>
            <p>{{ post.product[0].description }}</p>
          </ion-label>
        </ion-item>
       </ion-virtual-scroll>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
 

       <!-- <ion-list *ngIf="!isLoading && loadedOffers.length > 0"> 
         <ion-item-sliding *ngFor="let offers of loadedOffers" #slidingitem> 
         <app-offer-product [offers]="offers"></app-offer-product>
         <ion-item-options>
           <ion-item-option color="secondary" (click)="onEdit(offers.id, slidingitem )" [routerLink]="['/','places','offers','edit', offers.id]">
             <ion-icon name="create" slot="top"></ion-icon>
              Edit
           </ion-item-option>
         </ion-item-options>
         </ion-item-sliding>
       </ion-list> -->