#centertitle {
    text-align: center;
    width: 80%;
}
ion-col {
    text-align: center;
}
div{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

}

ion-item-option {
    border-radius: 10px;

}