<ion-item>
  <ion-thumbnail slot="start">
    <ion-img src="assets/img/popular3.png"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>  {{ offers.product[0]['title'] }}</h1>
    <div class="offerDetail">
      <ion-text color="primary" color="tertiary" class="space-left">{{ offers.product[0].description}}</ion-text>
      <ion-text color="primary" color="tertiary"  class="space-left">{{ offers.created | date }}</ion-text>
    </div>
  </ion-label>
  <ion-note slot="end">
    <h1>  {{ offers.product[0]['price'] | currency}}</h1>
 </ion-note>
</ion-item>