
<ion-header>
  <ion-toolbar   color="transparent">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm= "2">
        <ion-item lines="none">
          <ion-label style="font-weight: bold;" slot=start>Distance: </ion-label>

          <ion-input placeholder="km" [ngModel]="distanceWithin" (ngModelChange) ="onChange($event)" type="number"></ion-input>

          <ion-button (click)="onclick()" shape="round" fill="outline">
            <ion-icon slot="start" name="locate"></ion-icon>
              Where I Am
          </ion-button>
          <ion-button   (click)="onClickclose()" shape="round" fill="outline">
            <ion-icon slot="start" name="locate"></ion-icon>
              See Listings
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <!-- <ion-row>    
    <ion-col size="6">
      <ion-text>Google & Ionic Map</ion-text>
    </ion-col>
    <ion-col  size="6">
      <ion-button (click)="onclick()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
          Where I Am
        </ion-button>
    </ion-col>
  </ion-row>   -->
</ion-header>

<ion-content>
  <div class="map" #map>
    
  </div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm= "2">
          <ion-button (click)="oncloseMdal()" expand="block"  color="primary">See Listings</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>