<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header color="primary">
      <ion-toolbar color="primary">
        <ion-title>
          Fleek
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/accounts/profile">
            <ion-icon color="primary" slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/board/discover" >
            <ion-icon color="primary"  name="business" slot="start"></ion-icon>
            <ion-label>Discover</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/messages">
            <ion-icon color="primary" slot="start" name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>Inbox</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon color="primary"  name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Dasboard</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon color="primary"  name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app> 
