// @font-face {
//     font-family: 'Open Sans';
//     src: url("assets\fonts\OpenSans-Bold.ttf") format('OpenSans');

// }

@import url(//fonts.googleapis.com/css?family=Open+Sans);




#homeHeadersDesktop > ion-row:nth-child(4) > ion-col > div > ion-item > ion-select  {
    color:rgb(19, 212, 58);
}




#theTitle {
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
}



ion-card {
    border-radius: 20px;

    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    
}

ion-image {
    margin: 0px;

}

#firstlayer > ion-card > ion-img {
    margin: 0px;
}

body > app-root > ion-app > ion-router-outlet > app-board > ion-tabs > div > ion-router-outlet > app-discover > ion-content > ion-grid:nth-child(6) > ion-row > ion-col > div {
    margin: 0px;
}

div.item-native {
    padding: 0px;
}

#firstlayer > ion-card > ion-card-content{
    padding: 0px;
}

#firstlayer > ion-card > ion-label > ion-card-header {
    padding: 0.3rem;
    font-weight: bolder;
}


#firstlayer {
    overflow: hidden;
    // overflow: scroll;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem rgba(70, 60, 64, 0.418);
    margin-bottom:  1.2rem;
}

#firstlayerIOS {
    overflow: hidden;
    // overflow: scroll;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem rgba(46, 44, 44, 0.418);
    margin-bottom:  1.2rem;
}

ion-label {
    font-weight: bold;
    margin: 0px;
}

h3 {
    //background-color: rgb(35, 43, 39, 0.9);
    font-weight: bolder;
    font-size: large;
    color: rgba(26, 23, 25, 0.87);
    border-radius: 5px;
}
#toplay{
    position: absolute;
    top: 0;
    margin: 0;
    position: absolute;
    //top: 78%;
    //right: 50%;
    //margin-right: -50%;
    // transform: translate(-50%, -50%);  
}

#divViews{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    position: absolute;
}
#divViewsicon {
    size: 50PX;
    color:violet;
    width: 25px;
    height: 25px;
    font-weight: bold;
}

// ion-item {
//     height: 200px;
//     width: 100%;
//     padding: 0px;
//     margin: 0px;

// }
.img-head{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // border: 3px solid  rgb(3, 212, 212);;
    border: 3px solid  rgba(172, 5, 144, 0.699);;
    overflow: hidden;
}

img {
    // min-width:13.125rem;
    // object-fit: cover;

}


ion-img {
 
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 0.5rem;



    
}

.pin {
    display: inline-block;
    margin: 0 0.313rem 0.313rem;
    padding: 0.313rem;
  }
  
  .pins {
    column-count: 4;
    margin-top: 0.313rem;
    
  }

  


  .pinMobile {
    display: inline-block;
    margin: 0 20px 20px;
    padding: 5px;
  }

  .iospinMobile {
    display: inline-block;
    margin: 0 20px 20px;
    padding: 5px;
  }
  
  .pinsMobile {
    column-count: 2;
    margin-top: 5px;
    
  }


  .iospinsMobile {
    column-count: 2;
    margin-top: 5px;
    
  }



ion-slide {
    padding: 0px;
    margin: 0px;
}
#spinnerid {
    text-align: center;
    width: 100%;
}


ion-icon {
    margin-right: 2px;
}

// ion-content {
//     // overwrite inline styles
//     // --offset-bottom: auto !important; 
//     --overflow: hidden;
//     overflow: auto;
  
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }


// *::-webkit-scrollbar {
//     display: none;
// }


ion-searchbar{
  
    --box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);

    ::ng-deep{
        .searchbar-input-container{            
            .searchbar-input{ 
                border-radius: 20px;
                //any style that you want to implement on your searchbar
                //box-shadow: rgb(44, 41, 41);
                //box-shadow: 5px 10px red;
            }
        }
    }   
}







#searchBarDesktop {

    --box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
    margin-top: 7rem;



    ::ng-deep{
        .searchbar-input-container{        
            .searchbar-input{ 
                border-radius: 2rem;
                font-size:x-large;
                font-family: 'Open Sans', sans-serif;
                font-weight: bolder;

                height: 4rem;
                //any style that you want to implement on your searchbar
                //box-shadow: rgb(44, 41, 41);
                //box-shadow: 5px 10px red;
            }
            
            button {
                margin-bottom: 3rem;
                ion-icon {
                    margin-top: 0.2rem;
                }
            }

            ion-icon {
                margin-top: 0.7rem;
                color: violet;
            }

            searchbar-clear-icon sc-ion-searchbar-md md hydrated {
                padding-bottom: 8rem;
            }

        }
    }   

}



#searchBarAndroid {

    --box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
    margin-top: 7rem;



    ::ng-deep{
        .searchbar-input-container{        
            .searchbar-input{ 
                border-radius: 2rem;
                font-size:x-large;
                font-family: 'Open Sans', sans-serif;
                font-weight: bolder;

                height: 3rem;
            }
            
            button {
                margin-bottom: 3rem;
                ion-icon {
                    margin-top: 0.1rem;
                }
            }

            ion-icon {
                margin-top: 0.35rem;
                color: violet;
            }

            searchbar-clear-icon sc-ion-searchbar-md md hydrated {
                padding-bottom: 8rem;
            }

        }
    }   

}


#searchBarIOS {

    --box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin-bottom: 3rem;



    ::ng-deep{
        .searchbar-input-container{        
            .searchbar-input{ 
                border-radius: 2rem;
                font-size:x-large;
                font-family: 'Open Sans', sans-serif;
                font-weight: bolder;

                height: 3rem;
            }
            
            button {
                margin-bottom: 3rem;
                ion-icon {
                    margin-top: 0.1rem;
                }
            }

            ion-icon {
                margin-top: 0.35rem;
                color: violet;
            }

            searchbar-clear-icon sc-ion-searchbar-md md hydrated {
                padding-bottom: 8rem;
            }

        }
    }   

}




location-image {
    --icon-color: var (--ion-color-primary);
    --border-radius: 20px;
}


ion-item {
    --background: transparent;

}

#divSpinner{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 1rem;

}

#divToolBar {
    display: flex;
    text-align: center;

}

ion-title {
    padding: 0px;
    margin-right: 17%;
    font-weight: bolder;

}

// #theTitle[_ngcontent-egt-c133] {
//     padding: 0px;
//     margin: 0px;
// }

input.searchbar-input.sc-ion-searchbar-md {
    --width: 50%;
}

#searchBarDesktop > div > input {
    --width:50%;
}

input {
    --border-radius: 25px;
}



#divsearchInput {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}


#divsearchInputIOS {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

#divsearchInputDesktop {
    display: flex;
    align-items: center;
    text-align: center;
    //width: 100%;
    //width: 60vw;
}


#searchBarDesktop > div > ion-icon {

}







    


#rowsearch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#mapModal {
    flex-direction: row;
}

#categoryItems{
    --box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.diplayedCategory {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    border-radius: 5px;
}

.mapDiv {
    //box-shadow: 0 15px 25px rgba(92, 8, 47, 0.856);
    box-shadow: 0 10px 10px rgba(51, 47, 49, 0.856);
    // display: inline-block;
    margin: 0px;
    overflow: hidden;
}


#androidhomeHeaders {
    //background: rgb(35,0,36);
    //background: linear-gradient(180deg, rgba(35,0,36,1) 14%, rgba(172,124,155,0) 82%);
    // background: linear-gradient(180deg, rgba(158, 56, 122, 0.568) 14%, rgba(179, 171, 176, 0) 82%);
    //background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.151)), url('https://images4.alphacoders.com/964/964483.jpg');
    // background: linear-gradient(180deg, rgba(101,24,116,0) 32%, 	rgb(255, 255, 255) 88%, 	rgb(255, 255, 255) 95%), url("https://www.goodfreephotos.com/albums/united-states/virginia/other-virginia/purple-skies-and-landscape-over-the-lake.jpg") ;
    background: linear-gradient(180deg, rgba(101,24,116,0) 32%, 	rgb(255, 255, 255) 88%, 	rgb(255, 255, 255) 95%), url("https://i.redd.it/afhhcswvk9821.jpg") ;
    // background: url("https://images4.alphacoders.com/964/964483.jpg") no-repeat center fixed;
    // background: url("https://i.redd.it/afhhcswvk9821.jpg") no-repeat center fixed;
    border-bottom: 0px;
    padding: 0px;
    height: 75vh;

}


#ioshomeHeaders {
    //background: rgb(35,0,36);
    //background: linear-gradient(180deg, rgba(35,0,36,1) 14%, rgba(172,124,155,0) 82%);
    // background: linear-gradient(180deg, rgba(158, 56, 122, 0.568) 14%, rgba(179, 171, 176, 0) 82%);
    //background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.151)), url('https://images4.alphacoders.com/964/964483.jpg');
    // background: linear-gradient(180deg, rgba(101,24,116,0) 32%, 	rgb(255, 255, 255) 88%, 	rgb(255, 255, 255) 95%), url("https://www.goodfreephotos.com/albums/united-states/virginia/other-virginia/purple-skies-and-landscape-over-the-lake.jpg") ;
    background: linear-gradient(180deg, rgba(101,24,116,0) 32%, 	rgb(255, 255, 255) 88%, 	rgb(255, 255, 255) 95%), url("https://i.redd.it/afhhcswvk9821.jpg") ;
    // background: url("https://images4.alphacoders.com/964/964483.jpg") no-repeat center fixed;
    // background: url("https://i.redd.it/afhhcswvk9821.jpg") no-repeat center fixed;
    border-bottom: 0px;
    padding: 0px;
    height: 75vh;

}


#mobilePinGrid {
    // background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(207, 187, 202, 0.945)), url('https://images4.alphacoders.com/964/964483.jpg');
}


#homeHeadersDesktop {
    
    //background: url("https://www.goodfreephotos.com/albums/united-states/virginia/other-virginia/purple-skies-and-landscape-over-the-lake.jpg") no-repeat center fixed;
    // background-size: cover;
    // background: url("https://www.wallpaperup.com/uploads/wallpapers/2013/12/02/182518/8854ad3013a3ae7072656c43ec1a568b-1000.jpg") no-repeat center fixed ;
    background: url("https://images4.alphacoders.com/964/964483.jpg") no-repeat center fixed;
    // background: url("https://wallpaperaccess.com/full/48753.jpg") no-repeat center fixed;
    // background: url("https://i.redd.it/afhhcswvk9821.jpg") no-repeat center fixed;
    // background: url("https://i.pinimg.com/originals/5c/4a/d2/5c4ad2b8188d3d14613902209dc33165.jpg") no-repeat center fixed;
    // background-size: cover;
    // background: url("https://www.luxewalls.com.au/wp-content/uploads/2020/10/5.jpg") no-repeat center fixed;
    // background: url("https://wallpaperaccess.com/full/2703797.jpg") no-repeat center fixed;
    // background: url("https://www.wallpaperup.com/uploads/wallpapers/2012/03/23/1742/0281fbc906a36721c25f55f3ce963407.jpg") no-repeat center fixed;
    // background: url("https://cdn.wallpapersafari.com/27/90/uwPC5N.jpg") no-repeat center fixed;
    height: 80vh;
}



.card {
    //box-shadow: unset;
    border-radius: 9px;
    background-color: white !important;

}
.price {
    font-size: 18px;
    float: left;
    margin: 3px;
}
.inline {
    font-size: 15px;
    margin-inline-end: 5px;
    text-decoration: line-through;
}
.subtitle {
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.badge {
    position: absolute;
    top: 5%;
    right: 0;
    background-color: rgba(12, 12, 12, .75);
    border-radius: 2rem;
}




.cardios {
    box-shadow: unset;
    border-radius: 9px;
    background-color: white !important;
}
.priceios {
    font-size: 18px;
    float: left;
    margin: 3px;
}
.inlineios {
    font-size: 15px;
    margin-inline-end: 5px;
    text-decoration: line-through;
}
.subtitleios {
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.badgeios {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: rgba(12, 12, 12, .75);
    border-radius: 0;
}

