<!-- <ion-header>
    <ion-toolbar color="transparent">
      <ion-buttons slot='start'>
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons> 
      <div id="divToolBar">
        <ion-title id="theTitle" > MarketPlace </ion-title>

      </div>
    </ion-toolbar>
  </ion-header> -->
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-menu-button menu="m1"></ion-menu-button>
        </ion-buttons>
        <ion-img style="height:50px;width:180px" src="assets/fleekslogo.png"></ion-img>
        <ion-buttons  slot="end" *ngIf="currentUserDP"   color="success">
          <img [src]="currentUserDP" class="img-head"/>
        </ion-buttons>
      </ion-item>
    </ion-col>
  </ion-row>
  
  
  <ion-content>

    <ion-row id="rowsearch">
      <ion-col size ="12" size-sm="4" offset-sm ="4" text-center>
        <div id="divsearchInput">
          <ion-searchbar [(ngModel)]="searchtext"  (ionChange)="onSearchInput($event)"  [formControl]="searchControl"></ion-searchbar>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2">
        <div >
          <h2  *ngIf="Selectedcategory"  (click)="resetCategoryFilters(Selectedcategory)"  style="font-weight: bolder; font-size:xx-large;color: #474747  ; ">{{ Selectedcategory.name }}</h2>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col  size ="12" size-sm="8" offset-sm ="2">
        <ion-item lines="none">
          <ion-buttons slot="start">
            <ion-note (click)="onDisplayFilters()" style="font-weight: bold;" >category</ion-note>
            <ion-icon (click)="onDisplayFilters()" *ngIf="!onfilter" name="add-circle-outline"></ion-icon>
            <ion-icon (click)="onDisplayFilters()" *ngIf="onfilter"  color="primary" name="add-circle-outline"></ion-icon>
          </ion-buttons>
          <ion-item (click)="onOpenMapFiltersModal()" slot="end"lines="none">
            <ion-icon color="primary" src="assets/icons/world.svg"></ion-icon>
            <h4   style="margin-top: 10px" style="font-weight: bold;" >{{ currentAreaLocationName}}</h4>
          </ion-item>
          <ion-buttons (click)="onOpenFiltersModal()"  >
            <ion-icon color="primary" name="settings-outline"></ion-icon>
            <ion-note style="font-weight: bold;"  >filters</ion-note>
          </ion-buttons>
        </ion-item>
          <!-- <ion-note (click)="onDisplayFilters()" >filters</ion-note>
          <ion-icon (click)="onDisplayFilters()" *ngIf="!onfilter" name="add-circle-outline"></ion-icon>
          <ion-icon (click)="onDisplayFilters()" *ngIf="onfilter"  color="primary" name="add-circle-outline"></ion-icon> -->
      </ion-col>
    </ion-row>
    <div id="divSpinner" *ngIf="searching" class="spinner-container">
      <ion-spinner color="primary" ></ion-spinner>
    </div>
    <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label (click)="onSearch()">
          {{ item.product[0].title }}
        </ion-label>
      </ion-item>
    </ion-list> -->

    <!-- <ion-segment 
    color="primary" 
    scrollable="true"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">

    <ion-segment-button  *ngFor="let category of categoryList" value="all">
      <ion-item (click)="onClickedCategory(category.id)" lines="none">
        <ion-icon slot="start" [src]="category.icon"></ion-icon>
        <ion-label>{{ category.name }}</ion-label>
      </ion-item>
    </ion-segment-button>

    </ion-segment> -->


    <ion-row *ngIf="onfilter" >
      <ion-col size ="12" size-sm="8" offset-sm ="2" >
       <ion-slides [options]="{ slidesPerView: '3', zoom: false, grabCursor: true }">
          <ion-slide *ngFor="let category of categoryList"  >
            <ion-item class="diplayedCategory" (click)="onClickedCategory(category)" lines="none">
              <ion-icon slot="start" [src]="category.icon"></ion-icon>
              <ion-label>{{ category.name }}</ion-label>
            </ion-item>
        </ion-slide>
       </ion-slides>
      </ion-col>
    </ion-row>

    <ion-grid *ngIf="isLoading">
      <ion-row > 
        <ion-col  size ="12" size-sm="8" offset-sm ="2" text-center>
            <div id="spinnerid">
                <ion-spinner color="primary"></ion-spinner>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!isLoading && (!listedLoadedPosts  || listedLoadedPosts.length <=0) ">
      <ion-row>
        <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
           <h4>There are no available products right now, please come back later</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>

      <ion-row>
        <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
         <!-- <ion-virtual-scroll [items]="listedLoadedPosts" approxItemHeight="70px">
          <ion-item
          lines="none"
          *virtualItem="let post"
           detail>
            
            <ion-thumbnail slot="start">
              <ion-img src="assets/img/Drone2.jpg"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ post.product[0].title }}</h2>
              <p>{{ post.product[0].description }}</p>
            </ion-label>
          </ion-item> 
         </ion-virtual-scroll> -->
  
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size ="12" size-sm="8" offset-sm ="2" >

              <div class="pins">
                <div id="firstlayer" *ngFor="let post of listedLoadedPosts" > 
                         
                        <ion-card>
                          <img style="border-radius: 5px;" (click)="onDetail(post.id)" [src]="post.product[0].productimage_set[0].image" />
                        </ion-card>
                        <div id="toplay">
                          <ion-label >
                              <h3 >{{ post?.product[0].price  |currency }}</h3>
                          </ion-label>
                        </div>
                        
        
                </div>
              </div>

            </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
  <!-- [routerLink]="['/','places','discover', place.id]" -->
  

  <!-- <ion-grid *ngIf="!isLoading &&  relevantPosts.length > 0">
    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPosts[0].product[0]['title']}}</ion-card-title>
            <ion-card-subtitle>{{ relevantPosts[0].product[0]['price ']| currency }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img src="assets/img/receipts.jpg"></ion-img>
          <ion-card-content>
            <p> <ion-label color="danger"> {{ relevantPosts[0].product[0]['description'] }} </ion-label></p>
                        
            <div>
              <ion-button fill="clear" color="primary"
               routerDirection="forward"
               [routerLink]="['/','places','discover',relevantPlaces[0].id]">
                More
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
  </ion-grid> -->










  <!-- <ion-row *ngIf="!isLoading &&  relevantPosts.length > 0">
    <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
      <ion-card>
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title slot="start">{{ relevantPosts[0].product[0]['title']}}</ion-card-title>
            <ion-card-subtitle slot="end">{{ relevantPosts[0].product[0]['price'] | currency }} </ion-card-subtitle>
          </ion-item>
        </ion-card-header>
        <ion-img src="assets/img/popular3.png"></ion-img>
        <ion-card-content>
          <ion-item lines="none">
            <p slot='start'> <ion-label color="danger"> {{ relevantPosts[0].product[0]['description'] }} </ion-label></p>
            <ion-button slot="end" fill="clear" color="primary"
            routerDirection="forward">
              More
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->