<ion-header>
  <ion-toolbar color="primary">
  <ion-item text-center color="transparent">
    <ion-buttons slot='start'>
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>  
    <ion-title id="theTitle" >Discover </ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All products</ion-segment-button>
    <ion-segment-button value="bookable">Buyable Products</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row > 
      <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
          <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && (!relevantPosts  || relevantPosts.length <=0) ">
    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
         <h3>There are no bookable places right now, please come back later</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngIf="!isLoading &&  relevantPosts.length > 0">
      <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-card-title slot="start">{{ relevantPosts[0].product[0]['title']}}</ion-card-title>
              <ion-card-subtitle slot="end">{{ relevantPosts[0].product[0]['price'] | currency }} </ion-card-subtitle>
            </ion-item>
          </ion-card-header>
          <ion-img src="assets/img/popular3.png"></ion-img>
          <ion-card-content>
            <ion-item lines="none">
              <p slot='start'> <ion-label color="danger"> {{ relevantPosts[0].product[0]['description'] }} </ion-label></p>
              <ion-button slot="end" fill="clear" color="primary"
              routerDirection="forward">
                More
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
       <ion-virtual-scroll [items]="listedLoadedPosts" approxItemHeight="70px">
        <ion-item
        lines="none"
        *virtualItem="let post"
         detail>
          
          <ion-thumbnail slot="start">
            <ion-img src="assets/img/Drone2.jpg"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ post.product[0].title }}</h2>
            <p>{{ post.product[0].description }}</p>
          </ion-label>
        </ion-item>
       </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- [routerLink]="['/','places','discover', place.id]" -->


<!-- <ion-grid *ngIf="!isLoading &&  relevantPosts.length > 0">
  <ion-row>
    <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ relevantPosts[0].product[0]['title']}}</ion-card-title>
          <ion-card-subtitle>{{ relevantPosts[0].product[0]['price ']| currency }} / Night</ion-card-subtitle>
        </ion-card-header>
        <ion-img src="assets/img/receipts.jpg"></ion-img>
        <ion-card-content>
          <p> <ion-label color="danger"> {{ relevantPosts[0].product[0]['description'] }} </ion-label></p>
                      
          <div>
            <ion-button fill="clear" color="primary"
             routerDirection="forward"
             [routerLink]="['/','places','discover',relevantPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid> -->