#theTitle {
    margin-left: 15%;
}

ion-card {
    border-radius: 20px;

    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    
}

ion-image {
    margin: 0px;
}

#firstlayer > ion-card > ion-img {
    margin: 0px;
}

body > app-root > ion-app > ion-router-outlet > app-board > ion-tabs > div > ion-router-outlet > app-discover > ion-content > ion-grid:nth-child(6) > ion-row > ion-col > div {
    margin: 0px;
}

div.item-native {
    padding: 0px;
}

#firstlayer > ion-card > ion-card-content{
    padding: 0px;
}

#firstlayer > ion-card > ion-label > ion-card-header {
    padding: 0.3rem;
    font-weight: bolder;
}


#firstlayer {
    overflow: hidden;
    // overflow: scroll;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem rgba(70, 60, 64, 0.418);
    margin-bottom:  1.2rem;
}

ion-label {
    font-weight: bold;
    margin: 0px;
}

h3 {
    //background-color: rgb(35, 43, 39, 0.9);
    font-weight: bolder;
    font-size: large;
    color: rgba(26, 23, 25, 0.87);
    border-radius: 5px;
}
#toplay{
    position: absolute;
    top: 0;
    margin: 0;
    position: absolute;
    //top: 78%;
    //right: 50%;
    //margin-right: -50%;
    // transform: translate(-50%, -50%);  
}

#divViews{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    position: absolute;
}
#divViewsicon {
    size: 50PX;
    color:violet;
    width: 25px;
    height: 25px;
    font-weight: bold;
}

// ion-item {
//     height: 200px;
//     width: 100%;
//     padding: 0px;
//     margin: 0px;

// }
.img-head{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // border: 3px solid  rgb(3, 212, 212);;
    border: 3px solid  rgba(172, 5, 144, 0.699);;
    overflow: hidden;
}

ion-img {
 
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-bottom: 0.5rem;
    
}

.pin {
    display: inline-block;
    margin: 0 5px 5px;
    padding: 5px;
  }
  
  .pins {
    column-count: 3;
    margin-top: 5px;
    
  }


  .pinMobile {
    display: inline-block;
    margin: 0 20px 20px;
    padding: 5px;
  }
  
  .pinsMobile {
    column-count: 2;
    margin-top: 5px;
    
  }



ion-slide {
    padding: 0px;
    margin: 0px;
}
#spinnerid {
    text-align: center;
    width: 100%;
}


ion-icon {
    margin-right: 2px;
}

// ion-content {
//     // overwrite inline styles
//     // --offset-bottom: auto !important; 
//     --overflow: hidden;
//     overflow: auto;
  
//     &::-webkit-scrollbar {
//       display: none;
//     }
//   }


// *::-webkit-scrollbar {
//     display: none;
// }


ion-searchbar{
  
    --box-shadow: 0 25px 20px rgba(0, 0, 0, 0.1);

    ::ng-deep{
        .searchbar-input-container{            
            .searchbar-input{ 
                border-radius: 20px;
                //any style that you want to implement on your searchbar
                //box-shadow: rgb(44, 41, 41);
                //box-shadow: 5px 10px red;
            }
        }
    }   
}

location-image {
    --icon-color: var (--ion-color-primary);
    --border-radius: 20px;
}


ion-item {
    --background: transparent;

}

#divSpinner{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 1rem;

}

#divToolBar {
    display: flex;
    text-align: center;

}

ion-title {
    padding: 0px;
    margin-right: 17%;
    font-weight: bolder;

}

// #theTitle[_ngcontent-egt-c133] {
//     padding: 0px;
//     margin: 0px;
// }




input {
    --border-radius: 25px;
}

#divsearchInput {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}


#rowsearch {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#mapModal {
    flex-direction: row;
}

#categoryItems{
    --box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.diplayedCategory {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    border-radius: 5px;
}

.mapDiv {
    box-shadow: 0 15px 25px rgba(92, 8, 47, 0.856);
    //box-shadow: 0 15px 20px rgba(70, 60, 64, 0.856);
    // display: inline-block;
    margin: 0px;
    overflow: hidden;
}