
<ion-header>
  <ion-toolbar color="primary">
    <ion-item style="--background: transparent;" lines="none">
      <ion-buttons (click)="openModal()" *ngIf="otherUserDp"   color="light">
        <img [src]="otherUserDp" class="img-head"/>
      </ion-buttons>
      <ion-title color="light">{{ otherUsername }}</ion-title>
        <ion-buttons slot="end" color="light">
          <ion-back-button *ngIf="!inModalmode" defaultHref="/messages" color="light"></ion-back-button>
          <ion-icon *ngIf="inModalmode"  (click)="closeModal()" color="light" name="arrow-back" ></ion-icon>
       </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contentBg" #content id="chat-parent" overflow-scroll="true" (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!inModalmode" size ="12"  size-sm="4" offset-sm ="4">
        <div>
          <div id="chat-container">
            <div class="message-wrap">
              <div *ngFor="let msg of messages;let i = index; let first = first; let last = last" class="message">
                <div class="message-left"  *ngIf="msg.senderid === otherUserId">
                  <div class="msg-detail">
                    <div class="msg-content">
                      <p class="line-breaker ">{{msg.content}}</p>
                    </div>
                  </div>
                </div>
                <div class="message-right" *ngIf="msg.senderid !== otherUserId" >
                  <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
                  <div class="msg-detail">
                    <div class="msg-info">
                    </div>
                    <div class="msg-content">
                      <p class="line-breaker  ">{{msg.content}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </ion-col>

      <ion-col *ngIf="inModalmode"  size ="12" size-sm="8" offset-sm ="2">
        <div>
          <div id="chat-container">
            <div class="message-wrap">
              <div *ngFor="let msg of messages;let i = index; let first = first; let last = last" class="message">
                <div class="message-left"  *ngIf="msg.senderid === otherUserId">
                  <div class="msg-detail">
                    <div class="msg-content">
                      <p class="line-breaker ">{{msg.content}}</p>
                    </div>
                  </div>
                </div>
                <div class="message-right" *ngIf="msg.senderid !== otherUserId">
                  <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
                  <div class="msg-detail">
                    <div class="msg-info">
                    </div>
                    <div class="msg-content">
                      <p class="line-breaker  ">{{msg.content}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
<ion-row>
  <ion-col *ngIf="!inModalmode" size ="12" size-sm="4" offset-sm ="4">
    <ion-footer class="footer">
      <ion-toolbar class="footerSections">
        <div class="containerFooter">
          <ion-icon (click)="addFile()" size="large" color="primary" name="add-circle"></ion-icon>
          <div class="inputConatiner">
            <ion-input (keyup.enter)="sendMessage()"
              class="placeholdertext inputMessage inputBg"
              type="text" placeholder="Type a message"
              [(ngModel)]="message"
              autofocus="true" padding-start></ion-input>
          </div>
          <div class="send-button-parent">
            <ion-button  class="sendBtn" color="primary">
              <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-col>


  <ion-col *ngIf="inModalmode" size ="12" size-sm="8" offset-sm ="2">
    <ion-footer class="footer">
      <ion-toolbar class="footerSections" >
        <div class="containerFooter">
          <ion-icon (click)="addFile()" style="margin: 4px;" size="large" color="primary" name="add-circle"></ion-icon>
          <div class="inputConatiner">
            <ion-input
             (keyup.enter)="sendMessage()"
              class="placeholdertext inputMessage inputBg"
              type="text" 
              placeholder="Type a message" 
              [(ngModel)]="message"
              autofocus="true" padding-start></ion-input>
          </div>
          <div class="send-button-parent">
            <ion-button  (click)="sendMessage()"  class="sendBtn" color="primary">
              <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-col>



</ion-row>

