    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2">
        <ion-item lines="none">
          <ion-label >
            <h2  *ngIf="selectedCategory"  style="font-weight: bolder; font-size:xx-large;font-family:sans-serif "> {{ selectedCategory.name}}</h2>
          </ion-label>
          <ion-buttons slot="end" >
            <ion-button (click)="onsearch()">
              <ion-icon color="primary" name="add" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>

<ion-content>
  <ion-grid>
    <ion-card>    <ion-row>
      <ion-col text-center>
        <ion-list>
          <ion-list-header>
            <ion-label>Price Range</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-item lines="none">
              <ion-label class="header-range" position="floating">Min</ion-label>
              <ion-input [(ngModel)]="selectedMinPrice" (ngModelChange)="onInputMinChange($event)" ></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="header-range"  position="floating">Max</ion-label>
               <ion-input [(ngModel)]="selectedMaxPrice" (ngModelChange)="onInputMaxChange($event)" ></ion-input>
            </ion-item>
          </ion-item>
          <ion-item lines="none">
            <!-- <ion-label *ngIf="showRangeLabel"    [(ngModel)]="minimumPrice"> {{minimumPrice | currency}}  </ion-label> -->
            <ion-range color="primary" max="1000" [(ngModel)]="selectedPrice" (ngModelChange)="onChange($event)"  dual-knobs pin="true |currency" color="dark">
            </ion-range>
            <!-- <ion-label *ngIf="showRangeLabel"   [(ngModel)]="maximumPrice">{{maximumPrice | currency}} </ion-label> -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-list>
          <ion-list-header>
            <ion-label>Search Radius</ion-label>
          </ion-list-header>
          <ion-item lines="none">
           <ion-label position="floating">Distance</ion-label>
           <ion-input [value]="fromLocationDistance" [(ngModel)]="fromLocationDistance" style="width: 35%;"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-list>
          <ion-list-header>
            <ion-label>Search Location</ion-label>
          </ion-list-header>
          <ion-item lines="none">
           <ion-col >
            <app-location-picker (locationPick)="onLocationPicked($event)"></app-location-picker>
           </ion-col>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    </ion-card>

  </ion-grid>
</ion-content>
