<!-- <super-tabs activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }">
  <super-tabs-toolbar color="primary" slot="top" hidden="true" >
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">Fleeks</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">MarketPlace
      </ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">Offers</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container autoScrollTop>
    <super-tab>
      <ion-nav [root]="tab1"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab2"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab3"></ion-nav>
    </super-tab>
  </super-tabs-container> 
</super-tabs> -->



  
  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="openFleeks()" >
      <ion-icon name="radio-button-on-outline"></ion-icon>
      <ion-label>Fleeks</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

  