
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="discover">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <!-- <ion-icon name="card"></ion-icon> -->
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="messages" >
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <ion-label>inbox</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button (click)="openFleeks()" >
      <ion-icon name="radio-button-on-outline"></ion-icon>
      <ion-label>Fleeks</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
