.card {
    //box-shadow: unset;
    border-radius: 9px;
    background-color: white !important;

}
.price {
    font-size: 18px;
    float: left;
    margin: 3px;
}
.inline {
    font-size: 15px;
    margin-inline-end: 5px;
    text-decoration: line-through;
}
.subtitle {
    font-size: 12px;
    color: rgb(120, 120, 120);
}
.badge {
    position: absolute;
    top: 5%;
    right: 0;
    background-color: rgba(12, 12, 12, .75);
    border-radius: 2rem;
}


.pin {
    column-count: 2;
    margin-top: 5px;
    
  }


#pins {
    overflow: hidden;
    // overflow: scroll;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem rgba(46, 44, 44, 0.418);
    margin-bottom:  1.2rem;
}

.pinDesktop {
    column-count: 4;
    margin-top: 0.313rem;
    
  }



  #pinsDesktop {
    overflow: hidden;
    // overflow: scroll;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    box-shadow: 0 0.625rem 0.625rem rgba(70, 60, 64, 0.418);
    margin-bottom:  1.2rem;
}



  
