<!-- <p>{{ channel.id }}</p> -->
<!-- <div class="main">
  <div class="chat-box">
    <div class="message-area">
      <header>
        
        <img src="https://randomuser.me/api/portraits/lego/8.jpg" alt="" />
      </header>
      <div
        class="message"
        *ngFor="let message of messages"
        [ngClass]="getClasses(message.user.id)"
      >
        <p>{{ message.text }}</p>
      </div>
    </div>
    <div class="input-area">
      <form (submit)="sendMessage()" name="messageForm">
        <button>
          <span data-feather="smile"></span>
        </button>
        <input
          placeholder="Type your message"
          type="text"
          name="message"
          id="message"
          [(ngModel)]="message"
        />
        <button class="send">
          <span data-feather="send"></span>
        </button>
      </form>
    </div>
  </div>
</div> -->


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let chat of chats" >

   <!-- others's chat -->
   <ion-item lines="none" *ngIf="chat.userid != userid" >
     <ion-label class="ion-text-left">
      <p>{{ other_username }}</p>
      <h2>
        <b>
          {{chat.msg}}
        </b>
      </h2>
     </ion-label>

   </ion-item>

   <!-- my chat -->
   <ion-item lines="none" *ngIf="chat.userid == userid" >
    <ion-label class="ion-text-right">
     <p>you</p>
     <h2>
       <b>
         {{chat.msg}}
       </b>
     </h2>
    </ion-label>

  </ion-item>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="textMsg"placeholder="Type here.." (keyup.enter)="send()" ></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-footer>