

  .chatList{
    width: 95%;
    margin-top: 32px;
    min-height: -webkit-fill-available;
    border-top-left-radius: 20px;
    background: #ffffff;
    border-top-right-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .loadButton button:focus{
    outline: none;
  }


  #recentCard {
    border-radius: 10px;
 }

 #ureadmsglist {
   font-weight: bolder;
 }