<!-- <ion-header>
  <ion-toolbar>
   <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list-header>
  Users
</ion-list-header>
<ion-content>
  <ion-list>
    Profile
  </ion-list>
  <ion-item>
    <ion-avatar slot="start">

    </ion-avatar>
    <ion-label>
      <h2>
        <b>{{username}}</b>
      </h2>
      <p>
        @{{ username }}
      </p>
    </ion-label>
  </ion-item>

  <ion-item lines="none" *ngFor="let user of users"  (click)="openChatDetail(user.userid, user.username)">
    <ion-avatar slot="start">

    </ion-avatar>
    <ion-label>
      <h2>
        <b>{{ user.userid }}</b>
      </h2>
      <p>
        @{{user.username}}
      </p>
    </ion-label>
  </ion-item>
</ion-content> -->



<ion-header>
  <ion-toolbar *ngIf="!searchbar" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-icon color="light" style="margin: 4px;" size="large" name="search-sharp" (click)="searchbar = true"></ion-icon>
    </ion-buttons> -->
    <ion-buttons (click)="onCurrentUserProfile()" slot="end">
      <ion-avatar  style="width: 35px;height: 35px">
        <ion-img class="img-head" [src]="currentUserData.profile.image "></ion-img>
      </ion-avatar>
      <!-- <ion-icon color="light" (click)="openProfile()" size="large" name="person-circle-outline"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchbar">
    <ion-searchbar placeholder="Search..."
     (ionCancel)="searchbar = false" [debounce]="250" showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<super-tabs activeTabIndex="0" [config]="{ debug: true, sideMenu: 'left', allowElementScroll: true, nativeSmoothScroll: true }">
  <super-tabs-toolbar color="primary" slot="top" >
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">Chat</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">Followers
      </ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-label style="font-weight: bold;" color="light">Group</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container autoScrollTop>
    <super-tab>
      <ion-nav [root]="tab1"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab2"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="tab3"></ion-nav>
    </super-tab>
  </super-tabs-container> 
</super-tabs>


