<ion-content style="margin-top: 20px;" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size ="12" size-sm="4" offset-sm ="4">
        <ion-list  no-padding>
          <!-- <ion-item *ngFor="let user of imgString"
          (click)="openChatDetail(user)" routerDirection="forward" >
            <ion-avatar class="chatImage" slot="start">
              <ion-img [src]="user.userdp"></ion-img>
            </ion-avatar>
            <ion-label>
              <div class="withcount">
                <div class="nameAvatar">
                  <h2 color="light">{{user.username}}
                  </h2>
                  <ion-note>
                    {{ user.content }}
                  </ion-note>
                </div>
      
                <div class="timeEnd">
                  <ion-text slot="end" color="dark">{{user.timestamp | date }}</ion-text>
                </div>
              </div>
              <p class="widthHalf">{{user.description}}</p>
            </ion-label>
          </ion-item> -->

          <ion-card  id="recentCard" *ngFor="let user of imgString"  (click)="openChatDetail(user)" routerDirection="forward" >
            <ion-item-sliding id="item100">
              <ion-item >
                <ion-avatar class="chatImage" slot="start">
                  <ion-img [src]="user.userdp"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h2>{{ user.username }}</h2>
                  <h4>{{ user.content }}</h4>
                  <h6>{{user.timestamp }}</h6>
                </ion-label>
                <ion-note slot="end">
                  <!-- {{ data[0].created_at |  date:'shortTime' }} 
                  {{user.timestamp }}-->
                  <ion-icon class="msgIcon" *ngIf="user.inbox" color="primary" name="ellipse"></ion-icon>
                </ion-note>
            </ion-item> 
            <!-- <ion-item-options side="start">
              <ion-item-option>
                <ion-icon slot="icon-only" name="heart"></ion-icon>
              </ion-item-option>
            </ion-item-options> -->
        
            <ion-item-options side="end">
              <ion-item-option  color="danger">
                <h4 style="font-weight: bolder;">Remove</h4>
                <!-- <ion-icon slot="icon-only" name="trash"></ion-icon> -->
              </ion-item-option>
              <!-- <ion-item-option>
                <ion-icon slot="icon-only" name="star"></ion-icon>
              </ion-item-option> -->
            </ion-item-options>
            </ion-item-sliding>
          </ion-card>

        </ion-list> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
      //<img [src]="" />
      </ion-avatar>
      <ion-button slot="end" fill="clean" size="large" (click)="play()">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->

<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let v of videos">
      <ion-avatar slot="start">
        <img [src]="v.thumb" />
      </ion-avatar>
      <ion-label>{{v.title}}</ion-label>
      <ion-button slot="end" fill="clean" (click)="play(v.url)" size="large">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->




