<ion-content style="margin-top: 20px;" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size ="12" size-sm="4" offset-sm ="4">
        <ion-list  no-padding>
          <ion-item *ngFor="let user of imgString"
          (click)="openChatDetail(user)" routerDirection="forward" >
            <ion-avatar class="chatImage" slot="start">
              <ion-img [src]="user.userdp"></ion-img>
            </ion-avatar>
            <ion-label>
              <div class="withcount">
                <div class="nameAvatar">
                  <h2 color="light">{{user.username}}
                  </h2>
                  <ion-avatar class="chatCount" *ngIf="user.count">{{user.count}}</ion-avatar>
                </div>
      
                <div class="timeEnd">
                  <ion-text slot="end" color="dark">{{user.timestamp}}</ion-text>
                </div>
              </div>
              <p class="widthHalf">{{user.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
      //<img [src]="" />
      </ion-avatar>
      <ion-button slot="end" fill="clean" size="large" (click)="play()">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->

<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let v of videos">
      <ion-avatar slot="start">
        <img [src]="v.thumb" />
      </ion-avatar>
      <ion-label>{{v.title}}</ion-label>
      <ion-button slot="end" fill="clean" (click)="play(v.url)" size="large">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->




