ion-content {
    background-color: #8d3185;
}

ion-card {

    padding: 0px;
    margin: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;


}

#imgslidediv {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

ion-card-content {
    margin-top: 10px;
    border-top: none;
}

.product-img {
    cursor: pointer;
    width: fit-content !important;
    height: 100% !important;
    // max-width: 100vw !important;
    // max-height: 100vh !important;
    object-fit: cover;
    background-color: #0f0e0f;


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        border-radius: 20px
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        border-radius: 20px
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        border-radius: 20px
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        border-radius: 20px
    }
}

.product-img:hover {
    animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;

}

@keyframes tapAnimation {
    0% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        background: rgba(0, 0, 0, 0.05);
        transform: scale(3);
    }
}

#product-img {
    width: 100% !important;
    height: 100% !important;
    // max-width: 100vw !important;
    // max-height: 100vh !important;
    object-fit: cover;

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        border-radius: 20px 20px 20px 20px;
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        border-radius: 10px 10px 10px 10px;
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        border-radius: 10px 10px 10px 10px;
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        border-radius: 10px 10px 10px 10px;
    }
}

.ionSlide-div {
     width: fit-content;
}


ion-col{
    padding: 0px;
    align-items: center;
}

.ionSlides {
  max-height: 70vh;
  background: #474747;

      /* Small devices (portrait tablets and large phones, 600px and up) */
      @media only screen and (min-width: 600px) {
        border-radius: 20px;
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        border-radius: 20px;
    } 
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        border-radius: 20px;
    } 
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        border-radius: 20px;
    }
}

ion-slide {
    padding: 0px;
    margin: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    border: red;
}

#avatarNname {
   margin-left: 0px;
   padding-left: 0px;
   font-weight: bolder;
}
h4 {
    font-weight: bolder;
    font-family:  sans-serif;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Gill Sans',  sans-serif;
}
h5 {
    font-weight: bold;
    font-family: sans-serif;

}

h3 {
    font-weight: bold;
    //font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-family: Georgia;
    color: inherit;
}
p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: #474747  ;
}

.itemlabelData {
   
    margin-top: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 35px;
    color: #474747  ;

}

#labelDescription {
    margin-top: 100px;
}

#pricetag {
    color: rgba(47, 230, 138, 0.8);
}


// ion-toolbar {
//     border: 0px;
//     --box-shadow: 0 0px 0px rgb(235, 23, 23);
//     --background:  rgba(228, 65, 243, 0.589);
// }

.avatarItem {
    margin-top: 20px;
}

.tagsRow {
    margin-top: 5%;
}





.itemlabelData2{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 27px;
    color: #474747 ;
    // background:  rgba(231, 26, 163, 0.234);
    // border-radius: 15px;
  }


  .product-image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 80%,white 70%);
}

.badge {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 45px;
    border: 0.6px solid rgba(120, 120, 120, 0.5);
    border-radius: 25px;
    z-index: 9;
    font-size: 16px;
}


.hover-buttons{
    position: absolute;
    bottom: 1rem;
    z-index: 10;
    right: 1rem;
}

.fab {
    width: 25px;
    height: 25px;
    padding: 9px;
    border-radius: 25px;
    margin-left: 6px;
    border: .6px solid rgba(0, 0, 0, .3);
    background-color: white !important;
}

.red{
    color: red;
}

.footer {
    background-color: rgb(12, 12, 12);
    color: rgb(210, 210, 210);
    border-radius: 20px 20px 0px 0px;
    object-fit: contain;
}

.foot-highlight {
    color:rgba(241, 67, 183, 0.808);
    display: inline-block;
    margin: auto;
    margin-left: 9px;
    font-weight: bolder;
}
.foot-btn {
    width: 100%;
    background-color:  rgba(231, 26, 163, 0.575);  
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    margin-right: 10px;
}

#description-div {
    margin: 10px;
}

#description-paragram {
    margin: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: normal;
    width: 60%;
}

#tags {
    font-weight: bold;
    padding: 5PX;
    color: #0f0e0f ; 
    font-family: sans-serif;
    font-size: 18px;
    border: 10px;
    border-radius: 10PX;
    border-color: #8d3185;
    background-color: #c9a0c79c;
}