ion-card {

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
ion-card-content {
    margin-top: 10px;
    border-top: none;
}

img {
    object-fit: fill;
    max-width: 500;
    max-height: 450;
}

ion-col{
    padding: 0px;
}

#avatarNname {
   margin-left: 0px;
   padding-left: 0px;
   font-weight: bolder;
}

h3 {
    font-weight: bolder;
}

ion-label {
   
    padding: 0px;
}

#labelDescription {
    margin-top: 100px;
}
