ion-card {

    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;


}

#imgslidediv {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

ion-card-content {
    margin-top: 10px;
    border-top: none;
}

img {
    object-fit: cover;
    max-height: 70vh;
    max-width: 70vw;
    min-height: 60vh;
    min-width: 60vw;
}

ion-col{
    padding: 0px;
    align-items: center;
}

#avatarNname {
   margin-left: 0px;
   padding-left: 0px;
   font-weight: bolder;
}

h3 {
    font-weight: bolder;
}

ion-label {
   
    padding: 0px;
}

#labelDescription {
    margin-top: 100px;
}
