<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons   slot="start">
      <ion-back-button  defaultHref="/board"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ isLoading ? 'Loading...' : post?.product[0].title }}</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
   
  <div text-center *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-grid no-padding *ngIf="!isLoading">
    <ion-row>
      <ion-col size ="12" size-sm="8" offset-sm ="2" >
        <ion-card id="imgslidediv">
              <ion-slides pager="true" [options]="slideOpts" >
                <ion-slide  *ngFor="let item of post?.product[0].productimage_set">

                   <img  [src]="item.image"/>
                  <!-- <ion-item lines="none" text-center>
                        <ion-img  [src]="item.image"></ion-img>
                  </ion-item> -->
                </ion-slide> 
              </ion-slides>
          </ion-card>    
        <ion-card> 
          <ion-card-content>
            <ion-item lines="none">
              <ion-label id="avatarNname" >
                <!-- <h2 >
                  {{ post.product[0].title }}
                </h2> -->
  
                <ion-avatar slot="start">
                  <ion-img [src]="post?.owner.image"></ion-img>
                </ion-avatar>
              </ion-label >
              <ion-label (click)="openModal()" >
                  <h3>{{ post?.owner.username }}</h3>
              </ion-label>
              
              <ion-label >
                <h3>Price: {{ post?.product[0].price |currency }}</h3>
              </ion-label >
              <ion-icon (click)="openMessageModal()" slot="end" color="primary" name="chatbox-ellipses-outline"></ion-icon>
            </ion-item>
            <ion-label id="labelDescription">
              <p>{{ post?.product[0].description }}</p>
            </ion-label>
  
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


